body{
  margin: 0;
  padding: 0;
  width:100vw;
  height: 100vh;
}
.intro{
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  /* align-items: center; */
}

h1{
  font-size: 2.2rem;
  font-weight:bolder;
}

p{
  font-size: 1.2rem;
  margin-top: 0.3rem;
  margin-left: 6.9rem;
  margin-right: 6.9rem;
}

.p2{
  margin-left: 8rem;
  margin-right: 8rem;

}