.generator {
  background: #f9f9f9;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  border-radius: 3px;
  padding: 20px;
  width: 900px;
}
.generator__header {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.generator__password {
  position: relative;
  background: rgb(255 255 255);
  padding: 13px 10px;
  color: #000;
  margin-bottom: 15px;
  word-break: break-word;
}
.generator__password h3 {
  font-weight: 500;
  text-align: left;
  margin: 0;
  padding: 0px 37px 0 0;
  font-size: 17px;
  line-height: 33px;
  min-height: 20px;
}
.copy__btn {
  position: absolute;
  /* background: rgb(11, 158, 94); */
  background-color: rgb(11, 158, 94);
  color: #fff;
  border: none;
  height: 42px;
  padding: 0 12px 0 12px;
  cursor: pointer;
  top: 3px;
  right: 3px;
}
.copy__btn svg {
  font-size: 20px;
}
.form-group {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 15px;
}
label {
  font-size: 18px;
  font-weight: 600;
  color: black;
}
input {
  zoom: 1.4;
  font-size: 17px;
  cursor: pointer;
}